#calcBody {
    background-color: gray;
    border: black solid 4px;
    height: 420px;
    width: 300px;
    display: flex;
    flex-flow: center;
    flex-direction: column;
}

#histogram {
    background-color: pink;
    height: 30px;
    border-bottom: black solid 2px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 5px;
}

#currentOperation {
    background-color: orange;
    height: 50px;
    border-bottom: black solid 4px;
}

#pads {
    background-color: orange;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#numPad {
    background-color: red;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.digit {
    width: 80px;
    height: 50px;
}

#opPad {
    background-color: blue;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.operator {
    width: 50px;
    height: 50px;
}

#clear {
    width: 50px;
    height: 50px;
}